In [2]:
#import sys
#sys.modules.pop('CLASS_BABY')
#sys.modules.pop('CLASS_SAMPLE')

from CLASS_BABY import *
from CLASS_SAMPLE import *

import scipy.stats as ss

#bigger fonts
import matplotlib
matplotlib.rc('xtick', labelsize=15) 
matplotlib.rc('ytick', labelsize=15)
matplotlib.rcParams.update({'font.size': 20})

In [3]:
# Not specified types are strings
T = pd.read_csv('../TOST_data/average_properties.txt',
            sep='\t',index_col=0,na_values=-99,
            dtype={'WEIGHT_GRAMS': float,
                   'GEST_AGE_DAYS':float,
                   'DELTA_SEC_MEASURE':float,
                   'MED_SPO2':float,
                   'MED_PI':float,
                   'MED_PR':float})

In [4]:
T.columns.values

array(['BABY_IDS', 'GENDER', 'WEIGHT_GRAMS', 'GEST_AGE_DAYS', 'DELIVERY',
       'BIRTH_DATE', 'FILE', 'DELTA_SEC_MEASURE', 'MED_SPO2', 'MED_PR',
       'MED_PI', 'PHN', 'WRIST', 'FOOT', 'BRADY_SEC', 'BRADY_RATIO'],
      dtype=object)

In [5]:
single=(T['WRIST']==True)&(T['PHN']==False)

In [6]:
v1 = (np.unique(T[single]['BABY_IDS']))

In [7]:
v2 = (np.unique(T['BABY_IDS']))

In [8]:
print(len(v1))
print(len(v2))

251
267

In [9]:
#for name in v1:
#    print(name)

In [10]:
#This baby has two measurements in the hospital
T[(T['BABY_IDS']=='PLC006')& single ]

,BABY_IDS,GENDER,WEIGHT_GRAMS,GEST_AGE_DAYS,DELIVERY,BIRTH_DATE,FILE,DELTA_SEC_MEASURE,MED_SPO2,MED_PR,MED_PI,PHN,WRIST,FOOT,BRADY_SEC,BRADY_RATIO
111,PLC006,Male,4205.0,285.0,Csection,2014-03-19 16:13:00,/home/giorgio/Desktop/NHS/TOST_data/TOST PLC D...,69044.0,97.0,111.0,1.0,False,True,False,4106.0,0.776181
113,PLC006,Male,4205.0,285.0,Csection,2014-03-19 16:13:00,/home/giorgio/Desktop/NHS/TOST_data/TOST PLC D...,156043.0,96.0,118.0,0.9,False,True,False,2656.0,0.556114

In [11]:
len(T[(T['PHN']==True)])

192

In [12]:
len(T[(T['PHN']==False)])

572

In [13]:
def unique_id(table,tot=267):
    n = len(np.unique(table['BABY_IDS']))
    return n, n/float(tot)

In [14]:
t1 =T[T['PHN']==True]
unique_id(t1)

(96, 0.3595505617977528)

In [15]:
len(t1['BABY_IDS'].unique())

96

In [16]:
female = T[T['GENDER']=='Female']

In [17]:
unique_id(female)

(123, 0.4606741573033708)