In [34]:
import sys
sys.modules.pop('CLASS_BABY')
sys.modules.pop('CLASS_SAMPLE')

from CLASS_BABY import *
from CLASS_SAMPLE import *

import scipy.stats as ss

#bigger fonts
import matplotlib
matplotlib.rc('xtick', labelsize=15) 
matplotlib.rc('ytick', labelsize=15)
matplotlib.rcParams.update({'font.size': 20})

In [35]:
b = baby('FMC003')

In [36]:
# Not specified types are strings
T = pd.read_csv('../TOST_data/average_properties.txt',
            sep='\t',index_col=0,na_values=-99,
            dtype={'WEIGHT_GRAMS': float,
                   'GEST_AGE_DAYS':float,
                   'DELTA_SEC_MEASURE':float,
                   'MED_SPO2':float,
                   'MED_PI':float,
                   'MED_PR':float,
                   'BRADY_SEC_PR':float,
                   'BRADY_RATIO_PR':float,
                   'BRADY_RATIO_PR_m10':float,
                   'BRADY_RATIO_PR_m20':float,
                   'BRADY_RATIO_PR_m30':float,
                   'BRADY_RATIO_PR_m40':float,
                   'BRADY_SEC_SPO2':float,
                   'BRADY_RATIO_SPO2':float,
                   'BRADY_SEC_PR_DYN':float,
                   'BRADY_RATIO_PR_DYN':float})

In [37]:
T.columns.values

array(['BABY_IDS', 'GENDER', 'WEIGHT_GRAMS', 'GEST_AGE_DAYS', 'DELIVERY',
       'BIRTH_DATE', 'FILE', 'DELTA_SEC_MEASURE', 'MED_SPO2', 'MED_PR',
       'MED_PI', 'MEAN_SPO2', 'MEAN_PR', 'MEAN_PI', 'STD_SPO2', 'STD_PR',
       'STD_PI', 'PHN', 'WRIST', 'FOOT', 'BRADY_SEC_PR', 'BRADY_RATIO_PR',
       'BRADY_RATIO_PR_m10', 'BRADY_RATIO_PR_m20', 'BRADY_RATIO_PR_m30',
       'BRADY_RATIO_PR_m40', 'BRADY_SEC_SPO2', 'BRADY_RATIO_SPO2',
       'BRADY_SEC_PR_DYN', 'BRADY_RATIO_PR_DYN'], dtype=object)

In [38]:
single=(T['WRIST']==True)&(T['PHN']==False)

In [39]:
v1 = (np.unique(T[single]['BABY_IDS']))

In [40]:
v2 = (np.unique(T['BABY_IDS']))

In [41]:
print(len(v1))
print(len(v2))

# if the two following numbers are different,
# it means that selecting wrist and no phn is
# not enough to have the number of entries equal
# to the number of babies

252
268

In [42]:
#for name in v1:
#    print(name)

In [43]:
#This baby has two measurements in the hospital
T[(T['BABY_IDS']=='PLC006')& single ]

,BABY_IDS,GENDER,WEIGHT_GRAMS,GEST_AGE_DAYS,DELIVERY,BIRTH_DATE,FILE,DELTA_SEC_MEASURE,MED_SPO2,MED_PR,...,BRADY_SEC_PR,BRADY_RATIO_PR,BRADY_RATIO_PR_m10,BRADY_RATIO_PR_m20,BRADY_RATIO_PR_m30,BRADY_RATIO_PR_m40,BRADY_SEC_SPO2,BRADY_RATIO_SPO2,BRADY_SEC_PR_DYN,BRADY_RATIO_PR_DYN
111,PLC006,Male,4205.0,285.0,Csection,2014-03-19 16:13:00,/home/giorgio/Desktop/NHS/TOST_data/TOST PLC D...,69044.0,97.0,111.0,...,4106.0,0.776181,0.418904,0.054064,0.016257,0.012854,2902.0,0.548582,2414.0,0.456333
113,PLC006,Male,4205.0,285.0,Csection,2014-03-19 16:13:00,/home/giorgio/Desktop/NHS/TOST_data/TOST PLC D...,156043.0,96.0,119.0,...,2656.0,0.556114,0.213149,0.135678,0.125628,0.115997,4078.0,0.853853,2218.0,0.464405

In [44]:
total = len(np.unique(T['BABY_IDS']))
print('TOT NUMBER OF BABIES: ',total)

def unique_id(table,tot=total):
    '''input: table with the selection on the category you want to count
       output: the number of baby from that table and the fraction 
       of the total number of babies'''
    # take the same baby id just once (as we want to count babies)
    n = len(np.unique(table['BABY_IDS']))
    return n, n/float(tot)

TOT NUMBER OF BABIES:  268

In [45]:
#BABIES THAT HAS BEEN TO NHS
phn = T[(T['PHN']==True)]
print('Number of PHN measurements (more than one per baby): ',len(phn))
print('Number of babies that have been to PHN: # = %s; frac = %.3f'%unique_id(phn))

Number of PHN measurements (more than one per baby):  192
Number of babies that have been to PHN: # = 96; frac = 0.358

In [46]:
# NUMBER OF BABIES WITH MEASUREMENTS IN THE HOSPITAL

# remember that no phn only means that there is at least a measuerement that is not fom the phn
# so in this case it means that only one baby has no measurements from the hospital but only from the PHN
# for a more intuitive flag check in the class baby the property baby.has_been_phn.
no_phn = T[(T['PHN']==False)]
len(no_phn)
print('Number of babies with at least a measurement from the hospital: # = %s; frac = %.3f'%unique_id(no_phn))

Number of babies with at least a measurement from the hospital: # = 267; frac = 0.996

In [47]:
# This guy has no measurements in the hospital
for h in np.unique(T['BABY_IDS']):
    if h not in np.array(no_phn['BABY_IDS']):
        print(h,": NO MEASUREMENTS IN THE HOSPITAL (ONLY IN PHN)")

FMC054 : NO MEASUREMENTS IN THE HOSPITAL (ONLY IN PHN)

I am pretty confident that the measurements for FMC054 has been labeled as PHN even if they are not. For example in the name of the file there is "Day3" but the age of the baby at those measurements is just about 19 hours. See below.

Actually Prakash thinks that this is actually a measurement from PHN but for some reason the measurements from the hospital have been lost.

In [48]:
FMC054 = baby('FMC054')

In [49]:
FMC054.files

['/home/giorgio/Desktop/NHS/TOST_data/TOST FMC Data Groomed/G_FMC_PHN_054/G_PHN_FMC054_Day3_Rt Foot.csv',
 '/home/giorgio/Desktop/NHS/TOST_data/TOST FMC Data Groomed/G_FMC_PHN_054/G_PHN_FMC054_Day3_Rt Wrist.csv']

In [50]:
print('Age of FMC054 at first measurement: %.2f hours'%(FMC054.measurements_delta_sec_since_birth[0]/60./60.))

Age of FMC054 at first measurement: 18.94 hours

In [51]:
# NUMBER OF GIRLS
female = T[T['GENDER']=='Female']
male = T[T['GENDER']=='Male']
print('Number of girls: # = %s; frac = %.3f'%unique_id(female))
print('Number of boys: # = %s; frac = %.3f'%unique_id(male))

Number of girls: # = 123; frac = 0.459
Number of boys: # = 145; frac = 0.541

In [52]:
# NUMBER OF C-SECTION (DELIVERY)
csection = T[T['DELIVERY']=='Csection']
vaginal = T[T['DELIVERY']=='vaginal']
vaginal_ass = T[T['DELIVERY']=='vaginal assisted']
print('Number of C-Section: # = %s; frac = %.3f'%unique_id(csection))
print('Number of vaginal: # = %s; frac = %.3f'%unique_id(vaginal))
print('Number of vaginal assisted: # = %s; frac = %.3f'%unique_id(vaginal_ass))

Number of C-Section: # = 76; frac = 0.284
Number of vaginal: # = 161; frac = 0.601
Number of vaginal assisted: # = 31; frac = 0.116

In [53]:
T['DELIVERY'].unique()

array(['vaginal', 'Csection', 'vaginal assisted'], dtype=object)

In [54]:
T['DELTA_SEC_MEASURE']

0       58400.0
1       58499.0
2      152294.0
3      152212.0
4       65813.0
         ...
759     62047.0
760     67963.0
761     67976.0
762     51427.0
763     51451.0
Name: DELTA_SEC_MEASURE, Length: 764, dtype: float64

# Using directly a loop on baby objects if the properties are not in the text file

In [55]:
b = baby('FMC003')

### Ethnicity

In [56]:
# id is a builtin function, don't overwrite it!!
help(id)
print('This is the memory address of the variable b: ',id(b))

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

This is the memory addresss of the variable b:  139694061943832

In [57]:
quantity = []
for iid in np.unique(T['BABY_IDS']):
    b = baby(iid)
    #print(iid, ': mean PR = ',b.measurements[0]['PR'].mean())
    #print(iid, ': weight [grams] = ',b.weight_grams)
    quantity.append(b.ethnicity)
quantity = np.array(quantity)

In [58]:
np.unique(quantity)

array(['African-American', 'East Indian', 'Hispanic', 'Native',
       'Oriental', 'Others', 'Unknown', 'White'], dtype='<U16')

In [59]:
print('African-American','\t',len(np.where(quantity=='African-American')[0])  ,round(len(np.where(quantity=='African-American')[0])/268.*100.,2))
print('East Indian'     ,'\t\t',len(np.where(quantity=='East Indian')[0])     ,round(len(np.where(quantity=='East Indian')[0])     /268.*100.,2))
print('Hispanic'        ,'\t\t',len(np.where(quantity=='Hispanic')[0])        ,round(len(np.where(quantity=='Hispanic')[0])        /268.*100.,2))
print('Native'          ,'\t\t\t',len(np.where(quantity=='Native')[0])        ,round(len(np.where(quantity=='Native')[0])          /268.*100.,2))
print('Oriental'        ,'\t\t',len(np.where(quantity=='Oriental')[0])        ,round(len(np.where(quantity=='Oriental')[0])        /268.*100.,2))
print('Others'          ,'\t\t\t',len(np.where(quantity=='Others')[0])        ,round(len(np.where(quantity=='Others')[0])          /268.*100.,2))
print('Unknown'         ,'\t\t',len(np.where(quantity=='Unknown')[0])         ,round(len(np.where(quantity=='Unknown')[0])         /268.*100.,2))
print('White'           ,'\t\t\t',len(np.where(quantity=='White')[0])         ,round(len(np.where(quantity=='White')[0])           /268.*100.,2))

African-American 	 12 4.48
East Indian 		 31 11.57
Hispanic 		 15 5.6
Native 			 3 1.12
Oriental 		 27 10.07
Others 			 17 6.34
Unknown 		 2 0.75
White 			 161 60.07

In [60]:
AGE = []
ids = np.unique(T['BABY_IDS'])
for id in ids:
    b = baby(id)
    AGE.append(b.age_mum)
AGE = np.array(AGE)

In [61]:
for i in range(len(ids)):
    print(ids[i],AGE[i])

FMC003 33.0
FMC004 33.0
FMC005 31.0
FMC006 34.0
FMC007 36.0
FMC008 25.0
FMC009 32.0
FMC010 21.0
FMC011 32.0
FMC012 28.0
FMC013 28.0
FMC014 31.0
FMC015 34.0
FMC016 34.0
FMC017 26.0
FMC018 31.0
FMC019 32.0
FMC020 30.0
FMC021 34.0
FMC022 26.0
FMC023 24.0
FMC024 40.0
FMC025 36.0
FMC026 29.0
FMC027 35.0
FMC028 25.0
FMC029 30.0
FMC030 35.0
FMC031 39.0
FMC032 26.0
FMC033 27.0
FMC034 33.0
FMC035 27.0
FMC036 32.0
FMC037 39.0
FMC038 32.0
FMC039 33.0
FMC040 32.0
FMC041 36.0
FMC042 30.0
FMC043 36.0
FMC044 38.0
FMC045 31.0
FMC046 34.0
FMC047 33.0
FMC048 27.0
FMC049 39.0
FMC050 26.0
FMC051 26.0
FMC052 23.0
FMC053 36.0
FMC054 35.0
FMC055 29.0
FMC057 32.0
FMC058 29.0
FMC059 34.0
FMC061 39.0
FMC062 35.0
FMC064 29.0
FMC065 28.0
FMC066 30.0
FMC067 37.0
FMC068 36.0
FMC069 33.0
FMC070 27.0
FMC071 34.0
FMC072 39.0
FMC073 36.0
FMC074 37.0
FMC075 26.0
FMC076 30.0
FMC077 25.0
FMC078 32.0
FMC079 29.0
FMC080 28.0
FMC081 31.0
FMC082 27.0
FMC083 26.0
FMC084 34.0
FMC085 34.0
FMC086 38.0
FMC087 43.0
FMC088 26.0
FMC089 38.0
FMC090 24.0
FMC091 34.0
FMC092 33.0
FMC093 33.0
FMC094 27.0
FMC095 29.0
FMC096 39.0
FMC097 41.0
FMC098 40.0
FMC099 32.0
FMC100 35.0
FMC101 35.0
FMC102 33.0
FMC103 35.0
FMC104 31.0
FMC105 40.0
FMC106 34.0
FMC107 41.0
FMC108 27.0
FMC109 27.0
FMC110 26.0
FMC111 41.0
FMC112 25.0
FMC113 36.0
FMC114 31.0
FMC115 37.0
FMC116 30.0
FMC117 37.0
FMC118 39.0
FMC119 36.0
FMC120 37.0
FMC121 38.0
FMC122 30.0
FMC123 31.0
FMC124 29.0
FMC125 33.0
FMC126 35.0
FMC127 32.0
FMC128 29.0
FMC129 37.0
FMC130 32.0
FMC131 32.0
FMC132 33.0
FMC133 24.0
FMC134 41.0
FMC135 35.0
FMCO63 29.0
PLC 009 29.0
PLC 010 16.0
PLC 011 38.0
PLC 012 23.0
PLC 013 30.0
PLC 014 32.0
PLC 015 38.0
PLC 016 37.0
PLC 018 42.0
PLC 019 29.0
PLC 020 35.0
PLC 021 27.0
PLC 028 34.0
PLC 029 22.0
PLC 030 24.0
PLC 031 41.0
PLC 032 27.0
PLC 033 24.0
PLC 034 37.0
PLC 035 33.0
PLC 036 35.0
PLC 037 30.0
PLC 039 33.0
PLC 040 29.0
PLC 041 25.0
PLC 042 25.0
PLC 043 28.0
PLC 045 37.0
PLC 046 32.0
PLC 047 34.0
PLC 048 37.0
PLC 049 27.0
PLC 050 28.0
PLC 051 30.0
PLC 052 26.0
PLC 053 26.0
PLC 054 33.0
PLC 055 33.0
PLC 056 28.0
PLC 057 32.0
PLC 059 33.0
PLC 060 29.0
PLC 061 36.0
PLC 062 37.0
PLC 063 26.0
PLC001 39.0
PLC002 31.0
PLC003 37.0
PLC004 28.0
PLC005 23.0
PLC006 21.0
PLC007 36.0
PLC008 32.0
PLC017 30.0
PLC022 32.0
PLC023 33.0
PLC024 31.0
PLC025 31.0
PLC026 28.0
PLC027 23.0
PLC038 32.0
PLC044 29.0
PLC058 34.0
RGH 025 30.0
RGH 046 37.0
RGH 049 34.0
RGH 050 35.0
RGH 052 34.0
RGH001 32.0
RGH002 27.0
RGH003 29.0
RGH004 32.0
RGH005 33.0
RGH006 28.0
RGH007 35.0
RGH008 32.0
RGH009 29.0
RGH010 38.0
RGH011 33.0
RGH012 31.0
RGH013 35.0
RGH014 31.0
RGH015 30.0
RGH016 24.0
RGH017 29.0
RGH018 31.0
RGH019 25.0
RGH020 32.0
RGH022 40.0
RGH023 29.0
RGH024 27.0
RGH026 31.0
RGH027 29.0
RGH028 29.0
RGH029 34.0
RGH030 33.0
RGH031 34.0
RGH032 31.0
RGH033 33.0
RGH034 34.0
RGH035 30.0
RGH036 33.0
RGH037 36.0
RGH038 31.0
RGH039 33.0
RGH040 32.0
RGH041 29.0
RGH042 34.0
RGH043 31.0
RGH044 37.0
RGH045 39.0
RGH047 37.0
RGH048 33.0
RGH051 29.0
RGH053 34.0
RGH054 29.0
RGH055 34.0
RGH056 36.0
RGH057 35.0
RGH058 30.0
RGH059 29.0
RGH060 25.0
RGH061 31.0
RGH062 33.0
RGH063 33.0
RGH064 30.0
RGH065 33.0
RGH066 28.0
RGH067 29.0
RGH068 38.0
RGH069 34.0
RGH071 37.0
RGH072 28.0
RGH073 39.0
RGH074 27.0
RGH21 31.0
RGH70 37.0

In [62]:
AGE.mean()

31.87313432835821

In [63]:
DIABETES = []
ids = np.unique(T['BABY_IDS'])
for id in ids:
    b = baby(id)
    DIABETES.append(b.gestational_diabetes)
DIABETES = np.array(DIABETES)

In [64]:
np.unique(DIABETES)

array(['No', 'Yes'], dtype='<U3')

In [65]:
print('BABIES WITH GESTATIONAL DIABETES: # = %s perc = %s'%(len(np.where(DIABETES=='Yes')[0]),len(np.where(DIABETES=='Yes')[0])/268.*100))

BABIES WITH GESTATIONAL DIABETES: # = 26 perc = 9.701492537313433

In [66]:
SMOKING = []
ids = np.unique(T['BABY_IDS'])
for id in ids:
    b = baby(id)
    SMOKING.append(b.smoking)
SMOKING = np.array(SMOKING)

In [67]:
np.unique(SMOKING)

array(['No', 'Yes'], dtype='<U3')

In [68]:
print('SMOKING MUMS: # = %s perc = %s'%(len(np.where(SMOKING=='Yes')[0]),len(np.where(SMOKING=='Yes')[0])/268.*100))

SMOKING MUMS: # = 12 perc = 4.477611940298507

In [69]:
MECONIUM = []
ids = np.unique(T['BABY_IDS'])
for id in ids:
    b = baby(id)
    MECONIUM.append(b.meconium)
MECONIUM = np.array(MECONIUM)

In [70]:
np.unique(MECONIUM)

array(['No', 'Yes'], dtype='<U3')

In [71]:
print('Babies with meconium stained liqor: # = %s perc = %s'%(len(np.where(MECONIUM=='Yes')[0]),len(np.where(MECONIUM=='Yes')[0])/268.*100))

Babies with meconium stained liqor: # = 36 perc = 13.432835820895523

In [72]:
APGAR5 = []
ids = np.unique(T['BABY_IDS'])
for id in ids:
    b = baby(id)
    APGAR5.append(b.apgar5)
APGAR5 = np.array(APGAR5)

In [73]:
np.mean(APGAR5),np.std(APGAR5)

(8.958955223880597, 0.32638057781857777)

In [74]:
APGAR5

array([ 9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  7.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  8.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9., 10.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        8.,  9.,  9.,  9.,  9.,  9.,  7.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  7.,  9.,  9.,
        9.,  9., 10.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        8.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  8.,  9.,  9.,  8.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  7.,  9.,  9.,  9.,  9.,
        9.,  9.,  9., 10.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,  9.,
        9., 10.,  9.,  9.,  9.,  9.,  7.,  9.])

In [75]:
ss.iqr(APGAR5,rng=(0,100))

3.0

In [76]:
AGE_FIRST_REC = []
ids = np.unique(T['BABY_IDS'])
for id in ids:
    b = baby(id)
    AGE_FIRST_REC.append(np.min(b.measurements_delta_sec_since_birth))
AGE_FIRST_REC = np.array(AGE_FIRST_REC)

In [77]:
np.min(b.measurements_delta_sec_since_birth)

63605

In [78]:
np.median(AGE_FIRST_REC)/60./60.

16.480972222222224

In [79]:
ss.iqr(AGE_FIRST_REC,rng=(25,75))/60./60.

9.187708333333335

In [81]:
age_sort = np.sort(AGE_FIRST_REC)

In [127]:
print(np.median(AGE_FIRST_REC))

59331.5

In [124]:
def my_median(vector):
    vec_sorted = np.sort(vector)
    dispari = np.mod(len(vec_sorted),2)
    index = int(len(vec_sorted)/2.)
    if dispari:
        med = vec_sorted[index]
    else:
        m1 = vec_sorted[index-1]
        m2 = vec_sorted[index]
        med = (m1 + m2)/2.
    return med

In [128]:
def percentile(vector,perc=25):
    vec_sorted = np.sort(vector)
    frac = perc/100.
    return vec_sorted[int(round(len(vec_sorted)*frac,0))]

In [126]:
my_median(AGE_FIRST_REC)

59331.5

In [132]:
p1 = percentile(AGE_FIRST_REC,perc=25)

In [133]:
p2 = percentile(AGE_FIRST_REC,perc=75)

In [137]:
np.absolute(p1-p2)#/60./60.

33085

In [138]:
ss.iqr(AGE_FIRST_REC)

33075.75